/* font */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600&display=swap');



:root {
    /* bg colors */
    --background: #d149af;
    --primary: #f4c846;
    --secondary: #ffebaf;
    --button: #ffd1f3;
    --button2: #ff88e1;

    /* text color */
    --text-brown: #8f4009;
    --text-black: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: "Caveat", sans-serif;
}

/* header */
header {
    /* background: var(--primary); */
    background: linear-gradient(to top, var(--primary), var(--secondary));
    padding: 35px 10px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

.logo {
    width: 90px;
    margin-top: 18px;
    margin-bottom: 5px;
}

.navbar,
.navbar-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    gap: 30px;
}

.navbar-list {
    gap: 25px;
    font-size: 20px;
    font-weight: 800;
}

.navbar-list a {
    color: #000000;
}

.cart-icon {
    padding: 10px 30px;
    width: 15%;
    cursor: pointer;
}

/* header */
body {
    background-image: url(/Assets/Imagenes/body.jpg);
    background-position: center;
    background-size: cover;
}

/* main */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-black);
}

/* portada */

#portada {
    padding: 30px 10px;
    margin-top: 0px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    /* background-image: url(/Assets/Imagenes/Fondo.jpg);
    background-position: center;
    background-size: cover; */
    gap: 20px;
}

.taza {
    width: 40%;
}

.portada-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.portada-left {
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.portada-left h1 {
    font-size: 5rem;
    font-weight: 800;
    text-align: center;
}

.portada-left p {
    font-size: 28px;
    font-weight: 800;
    text-align: center;
    width: 80%;
}

.portada-buttons {
    display: flex;
    margin-top: 30px;
    gap: 15px;
}

.buttons {
    font-size: 22px;
    font-weight: 800;
    padding: 10px 30px;
    background: var(--secondary);
    border: none;
    border-radius: 10px;
    box-shadow: 2px 3px;
}

.active {
    background: var(--primary);
}

/* portada */

/* info empresa */

#info {
    /* background-image: url(/Assets/Imagenes/Fondo.jpg);
    background-position: center;
    background-size: cover; */
    /* background: linear-gradient(0deg, var(--primary), var(--secondary)); */
    width: 100%;
    padding: 70px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

#info img {
    width: 40%;
}

.info-empresa {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-empresa h2 {
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
    font-size: 50px;
    font-weight: 800;
}

.info-empresa p {
    display: flex;
    text-align: justify;
    font-size: 25px;
    font-weight: 600;
    padding: 10px 5px;
}

/* info empresa */

/* cards */

#cards {
    padding: 100px 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10px;
    /* background-image: url(/Assets/Imagenes/Fondo.jpg);
    background-position: center;
    background-size: cover; */
}

.cards-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.cards-title h2 {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    font-size: 50px;
    font-weight: 800;
}

.cards-title p {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    font-size: 28px;
    font-weight: 800;
}

.card-icon {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.cards-conteiner {
    padding: 10px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.card {
    /* background: var(--secondary); */
    width: 320px;
    height: 340px;
    padding: 20px 15px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, var(--primary), var(--secondary));
    box-shadow: 2px 2px 3px 1px black;
}

.card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.card h3 {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 5px;
}

.card p {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: var(--secondary); */
}

#contact {
    display: flex;
    width: 80%;
    padding: 150px 20px 150px;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

#contact img:last-child {
    width: 40%;
    border-radius: 10px;
    border: 1px solid var(--primary);
}

.contact-datos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.contact-datos h2 {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 800;
}


.datos-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.datos-list span {
    font-size: 25px;
    font-weight: 700;
}

.datos {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: 600;
}

#footer-bot {
    background: linear-gradient(to bottom, var(--primary), var(--secondary));
    margin-top: 100px;
    padding: 0px 10px 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}

#footer-bot hr {
    width: 80%;
    height: 2px;
    border: none;
    background: #000000;
    margin-bottom: 10px;
}

.proveedores {
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
    gap: 200px;
    padding: 50px 0px 20px 0px;
}

.redes-conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 0px 5px;
}

.redes-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.copyright img {
    width: 20px;
}

.copy-info {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 0px 20px 0px;
}

.copy-info h5 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
}