/* font */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');

:root {
    /* bg colors */
    --background: #Dfa67b;
    --primary: #ffd966;
    --secondary: #f4b183;
    --button: #fff2CC;

    /* text color */
    --text-brown: #8f4009;
    --text-black: #000000;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: "Caveat", sans-serif;
}

/* header */

header {
    background: var(--primary);
    padding: 30px 10px 30px 10px;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 6%;
    margin-top: 10px;
}

.navbar,
.navbar-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    gap: 50px;
}

.navbar-list {
    gap: 20px;
    font-size: 20px;
    font-weight: 800;
}

.navbar-list a {
    color: var(--text-brown);
}

.cart-icon {
    font-weight: 700;
    color: red;
}

/* header */

/* main */
main {
    background: var(--secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: var(--text-black);
}

#portada {
    padding: 30px 10px;
    margin-top: -10px;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.taza {
    width: 40%;
}

.portada-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.portada-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.portada-left h1 {
    font-size: 5rem;
    font-weight: 800;
    text-align: center;
}

.portada-left p {
    font-size: 28px;
    font-weight: 800;
    text-align: center;
    width: 80%;
}

.portada-buttons {
    display: flex;
    gap: 10px;
}

.buttons {
    font-size: 20px;
    padding: 5px 15px;
    background: var(--button);
    border: none;
    border-radius: 10px;
}

.active {
    background: var(--primary);
}

.info-empresa {
    background: var(--primary);
    max-width: 1200px;
    padding: 50px 150px;
    margin: 30px 0px 80px 0px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.info-empresa h2 {
    display: flex;
    justify-content: start;
    margin-bottom: 40px;
    font-size: 32px;
    font-weight: 800;

}

.info-empresa p {
    display: flex;
    text-align: justify;
    font-size: 25px;
    font-weight: 600;
    padding: 5px;
}